<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903268686608-a0pv56gna2ibmb7velv20esc8thoh6ge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903268686608-a0pv56gna2ibmb7velv20esc8thoh6ge</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ7RNHQ0rXYNiLFwFrqkYKcloxyHOApIU</string>
	<key>GCM_SENDER_ID</key>
	<string>903268686608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deca.decaAppEP</string>
	<key>PROJECT_ID</key>
	<string>deca-app</string>
	<key>STORAGE_BUCKET</key>
	<string>deca-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903268686608:ios:7b989cc1140fa117</string>
	<key>DATABASE_URL</key>
	<string>https://deca-app.firebaseio.com</string>
</dict>
</plist>